
		.footr{
			background-color: white;
	  		position: relative;
 			text-align: center;
                         margin-right: 10%;
	                 margin-left: 10%;
  			 bottom: 0;
			filter: opacity(80%);

		}
		h3{
			text-shadow: 5px 5px 5px teal;
		}