@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Merienda+One');
		body{
			background-image: url("../img/Background2.jpg") ;
			background-repeat: repeat-y;
			background-size: 100%;
		}

		header{
			color: black;
			text-shadow: 5px 5px 5px teal;
			text-align: center;
			padding: 20px;
			margin: 20px;
			font-family: 'Berkshire Swash', cursive;
			font-size: 50px;
		}
		ul{
			padding: 10px;
			margin: 0 auto;
			background-color: black;
			filter: opacity(80%);
			width: 100%;
		}
		a{
			text-decoration: none;
			color: black;
		}
		li{
			display: inline;
			font-size: 20px;
			padding: 15px;
			font-family: 'Merienda One', cursive;
			margin: 10px;
			color: white;
			background-color: white;

		}
		.ri{
			display: inline;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: -15px;
			float: right;
		}
		.rig{
			display: inline;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: -15px;
			float: right;
			padding: 10px;	
		}
