@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Pacifico|Supermercado+One" rel="stylesheet');
	body{
background-image: url('back2.jpg');
background-size:cover;
}

.col-1 {width: 5.33%;}
.col-2 {width: 10.66%;}
.col-3 {width: 19%;}
.col-4 {width: 27.33%;}
.col-5 {width: 31.66%;}
.col-6 {width: 40%;}
.col-7 {width: 48.33%;}
.col-8 {width: 5.66%;}
.col-9 {width: 65%;}
.col-10 {width: 75.33%;}
.col-11 {width: 85.66%;}
.col-12 {width: 78%;}
	[class*="col-"] {
    float: left;
    padding: 15px;
}

/*
@media only screen and (min-width: 720px) and (max-width: 1204px){


  .textoverimage{
  width: 33%;
}
 }
 */
	header{
		font-size: 50px;
		text-align: center;
		color: white;
		margin: 10px;
		padding: 20px;
		font-family: 'Berkshire Swash', cursive;
	}
.search{
	 margin-right: 10%;
	 margin-left: 10%;
	 background-color: grey;
	 opacity: 1;
	 height: 25%;
	 border-radius: 4px;
	 box-shadow: 4px 4px lightgrey;
	}

.field{
display: inline;
position: relative;
float: left;
margin:10px;

}
.field-label{
	position: relative;
	display: block;
	//transform: translateY(30px);
	margin-left: 10px;
	font-size: 16px;
	//transition: transform 3s,font-size 0.3s;
}
.btnserach{
	padding: 10px;
	display: inline;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	text-decoration: none;
	background-color: white;
	color: black;
	border: 2px solid #f44336;
    margin: 4px 2px;
  



}
	.field-input{
	width:100%;
	padding: 10px;
	line-height: 16px;
	font-size: 16px;
	font-family: 'Berkshire Swash', cursive;
    margin-left: 2px;
     border-radius: 3px;
     border:double 2px;
     color: #555555;
	}
	
	.imagebox{

	margin-top: 3%;
     margin-right: 10%;
	 margin-left: 10%;
	 background-color: white;
	 opacity: 0.8;
	 height: auto;
	 border-radius: 4px;
	 box-shadow: 4px 4px lightgrey;

	}
 
.textoverimage{	
float: left;
border-radius: 5px;
margin: 12px;
border: double 2px black;
box-shadow:5px 4px 5px black; 
background-size: 100% 100%;
background-repeat: no-repeat;
background-origin: content-box;
height: 200px;
transition: 0.5s;
}
.textoverimage:hover{
	opacity: 0.5;
	transform: scale(1.1,1.1);
}
.textoverimage:after{
position: relative;
word-wrap: normal;
overflow: hidden;
top:90%;
padding: 8px;
opacity: 0;
content: attr(data-text);
transition: 0.5s;

}

.textoverimage:hover:after{
	opacity: 1;
	top: 0;

}




